---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: es-health-watcher
spec:
  replicas: 1
  selector:
    matchLabels:
      app: es-health-watcher
  template:
    metadata:
      labels:
        app: es-health-watcher
    spec:
      containers:
      - name: checker
        image: alpine:latest
        command:
          - sh
          - -c
          - |
            apk add --no-cache curl jq
            while true; do
              TS=$(date "+%Y-%m-%d %H:%M:%S")
              # STATUS_AND_BODY=$(curl -sk -u "elastic:xxxxxxx" "https://xxxxxxx.privatelink.eastus2.azure.elastic-cloud.com:9243/_cluster/health")
              STATUS_AND_BODY=$(curl -sk -u 'elastic:xxxxxxx' "http://elasticsearch-aks-hosted-es-http.elasticsearch.svc.cluster.local:9200/_cluster/health")
              STATUS=$(echo "$STATUS_AND_BODY" | jq -r .status)
              echo "[$TS] status: $STATUS"
              # echo "[$TS] body: $STATUS_AND_BODY"
              echo "----------------------------------------------------"
              sleep 10
            done
